<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="kernel;components"/>
            <dependentAssembly>
                <!-- 目前用於參考到舊版 FISCA.Core 的程式轉參考到新版本。-->
                <assemblyIdentity name="FISCA.Core" publicKeyToken="a269f410f9e2a287" culture="neutral"/>
                <bindingRedirect oldVersion="1.0.0.1-2.0.0.0" newVersion="1.0.1.5"/>
            </dependentAssembly>
            <!-- DotNetBar 版本設定。-->
        </assemblyBinding>
        <configSections>
            <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                <section name="Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            </sectionGroup>
        </configSections>
        <startup>
            <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
        </startup>
        <userSettings>
            <Manager.Properties.Settings>
                <setting name="DSNSAccount" serializeAs="String">
                    <value />
                </setting>
                <setting name="DSNSUrl" serializeAs="String">
                    <value>http://dsns.ischool.com.tw/dsns/dsns</value>
                </setting>
            </Manager.Properties.Settings>
        </userSettings>
    </runtime>

    <userSettings>
        <Manager.Properties.Settings>
            <setting name="DSNSAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="DSNSUrl" serializeAs="String">
                <value>http://dsns.ischool.com.tw/dsns/dsns</value>
            </setting>
            <setting name="DSNSHost" serializeAs="String">
                <value>http://127.0.0.1:8080/dsns_dsa/app/setup</value>
            </setting>
        </Manager.Properties.Settings>
    </userSettings>
</configuration>
